.selected {
  display: flex;
  align-items: center;
  text-wrap: nowrap;

  background-color: #e2e8f0;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  color: #334155;

  cursor: pointer;
}

.selected:focus {
  background-color: #c7ccd3;

  outline: none;
}

.selected:hover .icon,
.selected:focus .icon {
  background-color: #798697;
}

.selected span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  background-color: #94a3b8;
  color: white;
  border-radius: 0.25rem;
  padding: 2px;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
