* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747474;
}
